<html>
<head>
    <title>Progress</title>

    <link href="css\progress.css" rel="stylesheet">
    <link href="css\progress-timeline.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <a href="/">
        <button>
            <img src = "https://i.imgur.com/DU262FL.png">
        </button>
    </a>

<h1>{{topic}}</h1>


<body>
    <!--<div>
        <ol class="list-group vertical-steps">
            <li class="list-group-item completed">
                <strong>Read Textbook</strong>
            </li>

            <li class="list-group-item active">
                <strong>Podcast</strong>
            </li>

           <li class="list-group-item">
                <strong>Practice Midterm</strong>
                <a href="/checkin">
                    <button>Check in</button>   
                </a>
            </li>

        </ol>
     

    </div>-->

    <div class="timeline">
        {{#each progress_data}}
        <div class="{{containerClass}}">
            <div class="content">
                <h2>{{stepName}}</h2>
                <p>{{feelingData}}</p>
                {{#if finished}}
                {{else}}
                    <a href="/checkin">
                    <button>Check in</button>
                    </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

</body>

</html>