<html>
<head>
    <title>Progress</title>

    <link href="css\progress.css" rel="stylesheet">
    <link href="css\progress-timeline.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <a href="/">
        <button>
            <img src = "https://i.imgur.com/DU262FL.png">
        </button>
    </a>

<h1>{{topic}}</h1>


<body>

    <div class="timeline">
        {{#each progress_data}}
        <div class="{{containerClass}}">        
            <div class="content">
                <h2>{{stepName}}</h2>
                <p>{{feelingData}}</p>
                {{#if (ifEquals finished)}}
                    <a href="/checkin/{{stepName}}">
                    <button id=checkinButton>View</button>
                    </a>
                {{else}}
                    <a href="/checkin/{{stepName}}/{{@index}}">
                    <button id=checkinButton>Check in</button>
                    </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/progress.js"></script>
</body>

</html>
